@CHARSET "UTF-8";

/* 面包屑栏 */
#crumb-bar {
	width: 100%;
}

.crumb-bar {
	width: 1210px;
	height: 24px;
	margin: 0 auto;
	margin: 0 auto;
}

.crumbs {
	font-weight: 700;
	font-size: 14px;
}

}
.crumbs a {
	font-size: 14px;
}

/* 内容页 */
#listcontent {
	width: 100%;
	overflow: hidden;
}

.listcontent {
	margin: 0 auto;
	width: 1210px;
	overflow: hidden;
}

/* 左侧推荐栏 */
.list-left {
	width: 210px;
	height: 100%;
	float: left;
	overflow: hidden;
	float: left;
	border: 1px solid #ddd;
}

.list-left-title {
	line-height: 30px;
	padding-left: 10px;
}

.list-left-content {
	width: 100%;
	height: 100%;
}

.llc-li {
	padding-left: 9px;
	padding-right: 9px;
	margin-bottom: 20px;
}

.llc-img {
	width: 100%;
	padding: 0;
	margin-bottom: 10px;
	text-align: center;
	position: relative;
}

.llc-name {
	height: 36px;
	line-height: 18px;
	margin-bottom: 10px;
	overflow: hidden;
	display: block;
}

.llc-price {
	height: 16px;
	line-height: 16px;
	margin-bottom: 4px;
	overflow: hidden;
}

.llc-price-num {
	float: left;
	margin-right: 6px;
	color: #e4393c;
	font-weight: 700;
	font-family: verdana;
	font-size: 14px;
}
/* 右侧商品列表 */
.list-right {
	width: 990px;
	float: right;
	overflow: hidden;
}

.lr-filter {
	width: 100%;
	background: #F1F1F1;
	border-bottom: 1px solid #E7E3E7;
	background: #F1F1F1;
	overflow: hidden;
}

.lrf-sort {
	height: 25px;
	padding: 4px 8px;
	line-height: 23px;
	overflow: hidden;
}

.lrf-sort a {
	float: left;
	padding: 0 10px;
	height: 23px;
	border: 1px solid #CCC;
	line-height: 23px;
	margin-right: -1px;
	background: #FFF;
	color: #333;
}

/* 右侧商品展示 */
.lr-conent {
	width: 100%;
	overflow: hidden;
}

.lr-content-items {
	float: left;
	width: 240px;
	margin-right: 5px;
	border: 1px solid white;
}

.lr-content-items:HOVER {
	border: 1px solid #ddd;
}

.lrc-items {
	padding: 12px 9px;
	width: 220px;
	height: 350px;
}

.lrc-img {
	width: 100%;
	padding: 0;
	margin-bottom: 10px;
	text-align: center;
	position: relative;
}

.lrc-name {
	height: 36px;
	line-height: 18px;
	margin-bottom: 10px;
	overflow: hidden;
	display: block;
}

.lrc-price {
	height: 16px;
	line-height: 16px;
	margin-bottom: 10px;
	overflow: hidden;
}

.lrc-price-num {
	float: left;
	margin-right: 6px;
	color: #e4393c;
	font-weight: 400;
	font-family: verdana;
	font-size: 20px;
}

.lrc-views {
	width: 100%;
	color: #a7a7a7;
	font-weight: 400;
}

/* 分页栏 */
.bottompage {
	height: 38px;
	width: 100%;
}

.jogger {
	float: right;
	width: 400px;
	PADDING-RIGHT: 2px;
	PADDING-LEFT: 2px;
	PADDING-BOTTOM: 2px;
	MARGIN: 7px;
	PADDING-TOP: 2px;
	FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", LucidaGrande,
		"Lucida Sans", Geneva, Verdana, sans-serif
}

.jogger A {
	PADDING-RIGHT: 0.64em;
	PADDING-LEFT: 0.64em;
	PADDING-BOTTOM: 0.43em;
	MARGIN: 2px;
	COLOR: #fff;
	PADDING-TOP: 0.5em;
	BACKGROUND-COLOR: #ee4e4e;
	TEXT-DECORATION: none
}

.jogger A:hover {
	PADDING-RIGHT: 0.64em;
	PADDING-LEFT: 0.64em;
	PADDING-BOTTOM: 0.43em;
	MARGIN: 2px;
	COLOR: #fff;
	PADDING-TOP: 0.5em;
	BACKGROUND-COLOR: #de1818
}

.jogger A:active {
	PADDING-RIGHT: 0.64em;
	PADDING-LEFT: 0.64em;
	PADDING-BOTTOM: 0.43em;
	MARGIN: 2px;
	COLOR: #fff;
	PADDING-TOP: 0.5em;
	BACKGROUND-COLOR: #de1818
}

.jogger SPAN.current {
	PADDING-RIGHT: 0.64em;
	PADDING-LEFT: 0.64em;
	PADDING-BOTTOM: 0.43em;
	MARGIN: 2px;
	COLOR: #6d643c;
	PADDING-TOP: 0.5em;
	BACKGROUND-COLOR: #f6efcc
}

.jogger SPAN.disabled {
	DISPLAY: none
}

.tcdPageCode{margin: 15px 20px;text-align: right;color: #ccc;}
.tcdPageCode a{display: inline-block;color: #428bca;display: inline-block;height: 25px;	line-height: 25px;	padding: 0 10px;border: 1px solid #ddd;	margin: 0 2px;border-radius: 4px;vertical-align: middle;}
.tcdPageCode a:hover{text-decoration: none;border: 1px solid #428bca;}
.tcdPageCode span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;color: #fff;background-color: #428bca;	border: 1px solid #428bca;border-radius: 4px;vertical-align: middle;}
.tcdPageCode span.disabled{	display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;	color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;border-radius: 4px;vertical-align: middle;}