<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zheng.dao.OrderDao">
	<delete id="deleteByGoodsId">
		delete from t_order where goodsId = #{goodsId}
	</delete>

	<insert id="add">
		insert into t_order(orderId,goodsId,userId) values(#{orderId},#{goodsId},#{userId})
	</insert>

	<select id="getOrderList" resultType="Order">
		select *
		from t_order
		where
		userId = #{userId}
		and orderId limit #{first},#{number}
	</select>

	<select id="getSumOrder" resultType="Integer">
		select count(*)
		from t_order
		where userId = #{userId}
	</select>

	<delete id="delete">
		delete from t_order
		where userId=#{userId}
		and
		goodsId=#{goodsId}
	</delete>
	
	<delete id="deleteAll">
		delete from t_order
		where userId = #{userId}
	</delete>

	<select id="getList" parameterType="Integer" resultType="OrderResultSet">
		select o.orderid,o.userid,u.nickname,g.goodsname,g.price
		from t_order o,user u,goods g
		where o.userid = u.userid
		and o.goodsid = g.goodsid
		and o.orderid limit #{first},#{number}
	</select>

	<select id="getCount" resultType="Integer">
		select count(*) from t_order;
	</select>
</mapper>