<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zheng.dao.RealmDao">

	<resultMap type="User" id="UserResult">
		<id property="id" column="id"/>
		<result property="userName" column="userName"/>
		<result property="password" column="password"/>
		<collection property="roles">
			<id property="roleId" column="roleId"/>
		</collection>
	</resultMap>

	<select id="getRoleByUserName" parameterType="String"
		resultType="Map">
		select roleName
		from role
		where roleId in(
			select roleId
			from user_role
			where userId in(
				select userId
				from user
				where userName = #{userName}))
	</select>
	
	<select id="getByUserName" parameterType="String" resultMap="UserResult">
		select u.userid,u.userName,u.password,r.roleName
		from user u,user_role,role r
		where userName=#{userName}
	</select>

</mapper> 