<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zheng.dao.UserDao">
	<resultMap type="User" id="UserMap">
		<id property="userId" column="userId" />
		<result property="userName" column="userName" />
		<result property="password" column="password" />
		<result property="nickName" column="nickName" />
		<result property="sex" column="sex" />
		<result property="phone" column="phone" />
		<result property="location" column="location" />
		<result property="createTime" column="createtime"/>
		<result property="email" column="email"/>
	</resultMap>

	<resultMap type="User" id="userRoleMap" extends="UserMap">
		<collection property="roleList" ofType="Role" column="userId">
			<id property="roleId" column="roleId" />
			<result property="roleName" column="roleName" />
		</collection>
	</resultMap>

	<insert id="add" parameterType="User">
		insert into
		user(userId,userName,password,nickName,sex,phone,location,createTime,email)
		values(#{userId},#{userName},#{password},#{nickName},#{sex},#{phone},#{location},#{createTime},#{email})
	</insert>

	<delete id="delete" parameterType="String">
		delete from user where userName = #{userName}
	</delete>

	<delete id="deleteById" parameterType="Integer">
		delete from user where userId = #{userId}
	</delete>

	<delete id="deleteRole" parameterType="String">
		delete
		from user_role
		where userid in(
			select userid
			from user
			where username = #{userName}
		)
	</delete>

	<update id="update" parameterType="User">
		update user
		set 
		userName = #{userName},
		password = #{password},
		nickName=#{nickName},
		sex=#{sex},
		phone=#{phone},
		location=#{location},
		email = #{email}
		where userId = #{userId}
	</update>

	<select id="get" parameterType="String" resultMap="UserMap">
		select *
		from
		user
		where userName=#{userName}
	</select>

	<select id="getAll" parameterType="Integer" resultMap="UserMap">
		select * 
		from user
		where userId limit #{first},#{number}
	</select>
	
	<select id="getCount" resultType="Integer">
		select count(*) from user;
	</select>

	<select id="getUserAndRole" parameterType="String" resultMap="userRoleMap">
		select
		u.userid,
		u.username,
		u.password,
		u.nickname,
		u.sex,u.phone,
		u.location,
		r.roleid,r.rolename
		from user u,user_role ur,role r
		where
		u.userid = ur.userid
		and ur.roleid = r.roleid
		and u.userName=#{userName}
	</select>

	<select id="getId" parameterType="String" resultType="Integer">
		select
		userId
		from user
		where userName=#{userName}
	</select>
	
	<select id="isExist" parameterType="String" resultType="Integer">
		select count(*)
		from user
		where userName = #{userName}
	</select>
</mapper> 